/* generic styling */

a {
    text-decoration: none;
}

h1 {
    
}

/* logo */

#logo {
    max-width: 50%;
    max-height: 50%;
    padding-left: 90px;
}

/* center logo image */
#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav menu */
nav {
    text-align: center;
    display: flex;
    /* makes responsive on different sized screens */
    align-items: center;
    justify-content: space-evenly;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

nav ul li {
    display: inline-block;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 40px;

}