/* generic styling */

body {
    background-image: url(../images/project-images/hero-image.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: solid black 0.1rem;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

/* pseudo classes */

a:hover {
    color: #636264;
}

/* logo */

#logo {
    max-width: 620px;
    max-height: 620px;
    padding-right: 60px;
}

/* center logo image */
#logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

/* nav menu */
nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
}

nav ul li {
    display: inline-block;
    padding: 4rem 6rem 6rem 6rem;
    letter-spacing: 0.5em;
    font-size: 28px
}

/* main section */


.video-div {
    background-color: black;
    border: solid;
    border-radius: 5rem;
    display: inline-block;
    float: left;
}

#hero-video {
    text-decoration: none;
    padding: 20px;
    text-align: center;
}


.about-us {
    background-color: olive;
    border: solid olive;
    border-radius: 5rem;
    display: inline-block;
    max-width: 50%;
    float: right;
    height: 550px;
}