/* generic styling */

a {
    text-decoration: none;
}

/* logo */

#logo {
    max-width: 30%;
    max-height: 30%;
    display: inline-block;

}

/* nav menu */
nav {
    text-align: center;
    display: flex;
    /* makes responsive on different sized screens */
    align-items: center;
    justify-content: space-evenly;
    display: inline-block;
    width: 70%;
    float: right;
}

nav ul li {
    display: inline-block;
    padding-right: 100px;
    padding-top: 50px;
    font-size: 40px;

}