/* generic styling */

body {
    background-image: url(../images/project-images/site-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    color: white;
}

.active {
    border-bottom: solid black 0.1rem;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}

.font-awesome-white {
    color: white;
}

/* changes icon colour when hovering over */
.font-awesome-white a:hover {
    color: olive;
}

/* pseudo classes */

a:hover {
    color: olive;
}

li a:hover {
    color: olive;
}

footer a:hover {
    color: olive;
}

.button a:hover {
    color: olive;
}

.enquire a:hover {
    color: olive;
}

/* logo */

#logo {
    width: 280px;
    height: 280px;
}

/* center logo image using flex for mobile first approach */
#logo-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

/* nav menu */
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 20px;
}

nav ul li {
    letter-spacing: 0.5em;
    font-size: 1.313rem;
    list-style-type: none;
    /* no bullet points for list items */
}

/* hero image - concept borrowed from love running project */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h1 {
    color: white;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/project-images/hero-img.webp") no-repeat center center;
    border-radius: 2rem;
}

#cover-text p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    text-align: center;
}

#cover-text h1,
h2 {
    font-size: 2.375rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

#cover-text {
    width: 600px;
    height: 500px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(71, 107, 7, 0.9);

    bottom: 30px;
    right: 150px;

    position: absolute;

    border-radius: 2rem;
}

/* main content - home page */

#info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-us {
    color: white;
    background-color: black;
    border-radius: 3rem;
    padding: 20px;
    text-align: center;
}

#info h3 {
    font-size: 2.188rem;
    color: olive;
}

#info p {
    font-size: 1.563rem;
}

#info a {
    color: white;
    text-decoration: dotted;
}

#info a:hover {
    color: olive;
}


.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.563rem;
    border-radius: 2rem;
    padding: 20px;
}

.button a {
    color: white;
}

/* promise section */

.promise-heading {
    font-size: 3.125rem;
    text-align: center;
    text-decoration: underline;
    padding-top: 30px;
}


#promise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#promise h3 {
    text-align: center;
    font-size: 2.5rem;
}

#promise p {
    text-align: center;
    font-size: 1.563rem;
    padding-left: 20px;
    padding-right: 20px;
}

.book-now {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
}

.book-now h3 {
    font-size: 45px;
}

.enquire {
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    border-radius: 2rem;
    padding: 20px;
}

.enquire a {
    color: white;
}


/* main content - about us page */

.why-us {
    background-color: rgba(71, 107, 7, 0.4);
    border-radius: 2rem;

    margin-right: 15px;
    margin-left: 15px;
}

.why-us h3 {
    font-size: 65px;
    letter-spacing: 1rem;
    text-align: center;

    padding-top: 10px;
    margin-bottom: -15px;
}

.why-us p {
    font-size: 22px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.reasons {
    background-color: rgba(71, 107, 7, 0.4);
    max-width: 25%;
    border-radius: 2rem;
}


#review-header {
    text-align: center;
    font-size: 65px;
    letter-spacing: 1rem;
    text-align: center;
}

#reviews h3 {
    font-size: 35px;
}

/*main content - bookings page */

#book-band {
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
}

.booking-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;

}

#name,
#email,
#number,
#date {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    text-align: center;

    border-radius: 2rem;
    padding: 2%;
}


.form-label {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.563rem;
}

input {
    margin-bottom: 15px;
}

/* targets all checkboxes - changing default color to green */
input[type=checkbox] {
    margin-left: 30px;
    accent-color: olive;
}

::placeholder {
    text-align: center;
    font-size: 0.938rem;
}

fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.563rem;

    padding: 25px;
    margin-top: 20px;
}

.booking-form p {
    background-color: olive;
    color: white;

    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;

    border-radius: 1rem;
    padding: 10px;
}

.booking-form a:hover {
    color: black;
    font-style: italic;
}

.form-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border: none;
}

.booking-header h2 {
    background-color: rgba(71, 107, 7, 0.4);
    border-radius: 1rem;
}

#submit,
#reset {
    font-size: 1.563;
    font-family: 'Bebas Neue', sans-serif;

    border-radius: 1rem;
    padding: 10px;

    background-color: olive;
    color: black;
}

#submit:hover,
#reset:hover {
    text-decoration: underline;
}

.form-received {
    font-size: 2rem;
    text-align: center;

    padding: 2rem;
}

#return-home a {
    color: olive;
}

#return-home a:hover {
    text-decoration: underline;
    font-style: italic;
}

/* displays review divs side by side using flex */

.review-text {
    text-align: center;
}

.review-text p {
    background-color: rgba(71, 107, 7, 0.4);
    padding: 30px;
    font-size: 1.25rem;
    border-radius: 2rem;
}


/*setlist main section */

iframe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    max-width: 250px;
    max-height: 250px;
    text-align: center;
    margin-bottom: 10px;
}

#setlist p {
    font-size: 23px;
    text-align: center;
}

#setlist h2 {
    font-size: 65px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgba(71, 107, 7, 0.4);
    border-radius: 2rem;
}

#setlist ul li {
    list-style-type: none;
}

.setlist-heading p {
    font-size: 23px;
    text-align: center;
}

.setlist-heading h1 {
    font-size: 65px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgba(71, 107, 7, 0.4);
    border-radius: 2rem;
}


/* footer */

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    text-align: center;
    line-height: 25px;
}

footer ul li {
    list-style-type: none;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.563rem;
    margin-left: -35px;
}


footer h3 {
    font-size: 2.063rem;
}



/* media queries */

/* mobile phones */


@media screen and (max-width: 480px) {

    #logo {
        width: 180px;
        height: 180px;
    }

    nav ul li {
        font-size: 1.05rem;
    }

    p {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.563rem;
    }

    h2 {
        font-size: 1.438rem;
    }

    /* styling for cover text */

    .cover-text-headings {
        font-size: 0.938rem;
        padding-right: 10px;
        padding-left: 10px;
    }

    #cover-text h1 {
        font-size: 0.938rem;
        padding-right: 10px;
        padding-left: 10px;
    }

    #cover-text p {
        font-size: 0.75rem;
        padding-right: 10px;
        padding-left: 10px;
    }

    .button {
        font-size: 0.938rem;
    }

    /* make promise section smaller for mobile screens */

    .promise-heading {
        font-size: 1.25rem;
    }

    #promise h3 {
        font-size: 1.25rem;
    }

    #promise p {
        font-size: 0.938rem;
    }

    .book-now h3 {
        font-size: 1.25rem;
    }

    .enquire {
        font-size: 1.25rem;
    }

    /* footer */

    footer {
        min-width: 100%;
        text-align: center;
        align-items: center;
    }

    footer h3 {
        font-size: 1.25rem;
    }

    footer p~a {
        font-size: 1.15rem;
    }

    footer i {
        font-size: 1.15rem;
    }

    footer ul li {
        text-align: center;
    }

}

@media screen and (max-width: 590px) {
    #cover-text {
        width: 50vw;
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 651px) {


    #logo {
        max-width: 280px;
        max-height: 280px;
        padding-bottom: 15px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    nav ul li {
        padding-bottom: 20px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cover-text-headings {
        font-size: 1.25rem;
    }

    #covert-text h1 {
        font-size: 1.25rem;
    }

    #cover-text p {
        font-size: 0.938rem;
    }

    .button {
        font-size: 0.938rem;
    }


}


@media screen and (max-width: 910px) {

    /* change footer to column to fit screen sizes 910 & below */
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #promise {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reasons {
        max-width: 100%;
        margin-bottom: 25px;
    }

    #cover-text {
        width: auto;
        height: auto;
        padding: 0px;
        margin: 0px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        font-size: inherit;
    }

    #.cover-text-headings {}




}